<p>
<h1>League: <%= @league.name %></h1>
<%= link_to 'Edit league settings', setting_manager_path(@league.setting_manager) %>
</p>

<br>
<h2>Current teams</h2>
<table>
    <tr>
        <th>Name</th>
    </tr>

    <% @league.teams.each do |team| %>
        <tr>
            <td><%= team.name %></td>
            <td><%= link_to 'Show', team_path(team) %></td>
            <td><%= link_to 'Edit', edit_team_path(team) %></td>
            <td><%= link_to 'Destroy', team_path(team),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

<br>
<%= button_to 'Add new team', new_league_team_path(@league) =%>

<hr>

<% if @league.draft_helper.nil? %>
  <%= button_to 'Generate Draft Helper', new_league_draft_helper_path(@league), { :method => :get } %>
<% else %>
  <%= button_to 'View Draft Helper', league_draft_helper_path(@league) %>
  <%= button_to 'Re-generate Draft Helper', new_league_draft_helper_path(@league) %> 
<% end %>

<br>
<br>
<hr>
<%= link_to 'Back', leagues_path %>
