<% can? :read, @league %>
<p>
<strong>League:</strong>
<%= @league.name %>
</p>

<h2>Current teams</h2>
<table>
    <tr>
        <th>Name</th>
    </tr>

    <% @league.teams.each do |team| %>
        <tr>
            <td><%= team.name %></td>
            <td><%= link_to 'Show', team_path(team) %></td>
            <td><%= link_to 'Edit', edit_team_path(team) %></td>
            <td><%= link_to 'Destroy', team_path(team),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

<hr>
<%= link_to 'Create team', new_league_team_path(@league) =%> | 
<%= link_to 'Back', leagues_path %>
