<h1> Settings for league: <%= @setting_manager.league.name %> </h1>

<%= form_for @setting_manager do |manager_form| %>
<h2>Positional Settings</h2>
<table>
    <tr>
      <th>Hitter position</th><th>Count</th>
    </tr>

    <% @current_settings[:positions][:bat].each do |setting| %>
        <tr>
          <td><%= setting.name %></td>
          <td>
            <%= fields_for setting do |setting_fields| %>
              <%= render "settings/form", :setting_fields => setting_fields %>
            <% end %>
          </td>
        </tr>
    <% end %>

    <tr>
      <th>Pitcher position</th><th>Count</th>
    </tr>

    <% @current_settings[:positions][:pit].each do |setting| %>
        <tr>
          <td><%= setting.name %></td>
          <td>
            <%= fields_for :setting, setting do |setting_fields| %>
              <%= setting_fields.text_field :position_value %>
            <% end %>
          </td>
        </tr>
    <% end %>
</table>

<%= manager_form.submit %>
<% end %>
