<%= stylesheet_link_tag params[:controller] %>

<div style="display:flex; justify-content: center; align-items:center;">
  <% logo_attrs = {  alt: "change team shown", style: "height:125px; background-color:white;" } %>
  <%= image_tag("baseballmug2-flipped.png", logo_attrs ) %>

  <div style="display:inline;">
    <h1 style="background-color:white; padding-right:15px; margin-bottom:0px;">Baseball on Draft</h1>
    <h3 style="margin-top:0px; font-size:20px; text-align:left">Fantasy Draft-Aid</h3>
  </div>
</div>

<% if !user_signed_in? %>
  <div style="text-align:center">
    <br>
    <h3 style="margin-top:15px; margin-bottom:10px;">Follow along with your league's draft.</h2>
    <h3 style="margin-top:5px;">Add players to teams to get real-time analysis and player recommendations.</h3>

    <br>
    <% logo_attrs = {  alt: "draft helper example", style: "border:solid #000; border-width:2px; border-color:black; padding-bottom:20px;" } %>
    <%= image_tag("example2.png", logo_attrs ) %>
  </div>

<% end %>

<br>
<br>
<br>
<div>
  <% if user_signed_in? %>
    <h2> Available Leagues </h2>
      <table>
        <% @leagues.each do |league| %>
          <% if can? :read, league %>
            <tr>
                <td style="font-weight: 500;"><%= league.name %></td>
                <td><%= fa_icon "chevron-right" %><%= link_to 'Show', league_path(league), style: "margin-left:10px;" %></td>
                <td><%= link_to 'Delete', league_path(league),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </table>

      <p><%= link_to 'Create new league', new_user_league_path(current_user) %></p>
      <br>
      <br>
      <h3>Note: Please use this app full-screen!</h3>
  <% else %>
    <hr>
    <h2> Please sign in to see your league data! </h2>

    <div style="padding-bottom:45px;">
      <%= button_to 'Sign Up', new_user_registration_path, { :method => :get, :class => "ui-button ui-widget ui-corner-all" } %>
      <%= button_to 'Sign In', new_user_session_path, { :method => :get, :class => "ui-button ui-widget ui-corner-all" } %>
    </div>

  <% end %>
</div>
