<div style="background-color:#e0e0e0;">
  <% logo_attrs = {  alt: "change team shown", style: "position:fixed; top:5px; left:5px; height:60px; background-color:white;" } %>
  <%= image_tag("baseballmug2-flipped.png", logo_attrs ) %>

  <h2 style="display:inline; position:fixed; top:5px; left:65px; background-color:white; padding-right:15px;">Baseball on Draft</h2>
</div>
<br>

<% if @draft_helper.errors.any? %>
      <div id="error_explanation">
          <h2>
              <%= pluralize(@draft_helper.errors.count, "error") %> prohibited this article from being saved:
          </h2>
          <ul>
              <% @draft_helper.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
          </ul>
      </div>
<% end %>

<div>
  <h2>Confirm settings for league.</h2>
  <h3>Name: <%= @league.name %></h3>
  <h3>Teams (<%= @league.teams.length %>):</h3>
  <ul>
    <% @league.teams.each do |team| %>
      <li><%= team.name %></li>
    <% end %>
  </ul>

  <%= render :template => 'setting_managers/_readonly' %>
</div>

<div style="width:100%; text-align:center;">
  <%= button_to 'Generate!', league_draft_helpers_path(@league), { :method => :post, :league_id => @league, :class => "ui-button ui-widget ui-corner-all",
                                                                   :style => "margin-left:20px; display: inline-block; font-size: 30px; font-family:'Montserrat', sans-serif;" } %>
  <h3 style="padding-bottom:25px;">This will take about 15 seconds.</h3>
</div>
