<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>

<div style="background-color:#e0e0e0;">
  <% logo_attrs = {  alt: "change team shown", style: "position:fixed; top:5px; left:5px; height:60px; background-color:white;" } %>
  <%= image_tag("baseballmug2-flipped.png", logo_attrs ) %>

  <h2 style="display:inline; position:fixed; top:5px; left:65px; background-color:white; padding-right:15px;">Baseball on Draft</h2>
</div>

<div style="position:fixed; top:40px; right:10px; font-size:14px;">
  <%= link_to 'Back to league', league_path %> | 
  <%= link_to 'Edit League Settings', setting_manager_path %>
</div>

<div id="draftHelperContainer" style="height: 98vh; width: 100%;" data-settings="<%= @settings.to_json %>">
  <div style="height: 45vh;" id="teams" data-params-id=<%= params[:id] if params.has_key?(:id) %>>

    <div class="team" id="myTeam">
      <div class="teamTableContainer">
        <% @team = @my_team %>
        <%= render 'team' %>
      </div>
    </div>

    <div class="team" id="otherTeam" data-best-hitting="<%= @best_hitting_team.to_json %>" 
                                     data-best-pitching="<%= @best_pitching_team.to_json %>"
                                     data-best-overall="<%= @best_overall_team.to_json %>">
      <div class="teamTableContainer">
        <% @other_teams.each do |team| %>
          <% @team = team %>
          <%= render 'team' %>
        <% end %>
      </div>
    </div>
  </div>


  <div style="height: 48vh;" id="availablePlayers" data-params-id=<%= params[:id] if params.has_key?(:id) %>>

    <div style="text-align:center; align-items:center;">
      <h2 style="margin-bottom:7px; margin-right:10px; margin-top:5px; font-size:26px; display:inline-block;">Available Players</h2>
      <div class="loader" style="visibility: visible;"></div>
    </div>

    <div id="availablePlayersControls" style="height: 10%; float:left; width:100%; text-align:center;">

      <div style="width:100%; margin-bottom:5px;">
        <label style="margin: 0 10px;">Sort by: </label>
        <% options = ['Cumulative percentile difference', 'Absolute percentiles', 'Absolute percentiles with positional adjustment', "Absolute percentiles, positional + remaining slot adjustment"] %>
        <%= select_tag "playersTable", options_for_select(options, 'Cumulative percentile difference'), :onchange => 'changeDisplayedPlayersTable(this)', :style => 'margin-right: 20px;' %>
      </div>


      <div style="width:100%">

        <label style="margin-left:0px; margin-right:5px;">Search</label>
        <input style="margin-right:25px;" type="text" id="playerNameSearch" onkeyup="searchAvailablePlayers(this)" placeholder="Search for names..">

        <label style="margin-right:5px;">Show percentiles</label>
        <%= radio_button_tag(:stats_type, 'percentile', true, { :onchange => 'changeStatsType(this)' }) %>
        <label style="margin-left:20px; margin-right:5px;">Show raw stats</label>
        <%= radio_button_tag(:stats_type, 'raw', false, { :onchange => 'changeStatsType(this)' }) %>



        <label style="margin-left: 40px;">Position</label>
        <% pos_options = ['All'] + @draft_helper.data_manager.batter_slots.keys + @draft_helper.data_manager.pitcher_slots.keys %>
        <%= select_tag 'position', options_for_select(pos_options, 'All'), :onchange => 'filterByPosition(this)' %>
      </div>
    </div>

    <% @is_first_table = true %>
    <%= render 'player_table' %>
    <% @is_first_table = false %>
  </div>
</div>

