<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>

<h1 style="text-align:center;">Draft Helper</h1>

<div id="teams" style="margin:0; width:100%;">
  <div id="myTeam" style="float:left; margin:20px; width:45%; height:500px; text-align:center;">
    <h2>My Team</h2>
    <table style="margin:auto;" >
        <tr>
          <th>Player</th>
          <th>StatA</th>
          <th>StatB</th>
          <th>StatC</th>
          <th>StatD</th>
        </tr>
        <tr>
          <td>NAME</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>

        <tr>
          <td>NAME</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
    </table>
  </div>

  <div id="otherTeam" style="float:left; margin:20px; width:45%; height:500px; text-align:center;">
    <h2>Other team</h2>
    <table style="margin:auto;" >
        <tr>
          <th>Player</th>
          <th>StatA</th>
          <th>StatB</th>
          <th>StatC</th>
          <th>StatD</th>
        </tr>
        <tr>
          <td>NAME</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>

        <tr>
          <td>NAME</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
    </table>
  </div>
</div>

<div id="availablePlayers" style="float:left; margin:0; width:100%;">

  <div id="availablePlayersControls" style="float:left; margin:20px; width:100%">
    <% options = ['Cumulative percentile difference', 'Absolute percentiles', 'Absolute percentiles with positional adjustment', "Absolute percentiles, positional + remaining slot adjustment"] %>
    <%= select_tag "playersTable", options_for_select(options, 'Cumulative percentile difference'), :onchange => 'changeDisplayedPlayersTable(this)', :style => 'margin: 0 20px;' %>

    <label style="margin: 0 20px;">Position</label>
    <% pos_options = ['All'] + @draft_helper.data_manager.batter_slots.keys + @draft_helper.data_manager.pitcher_slots.keys %>
    <%= select_tag 'position', options_for_select(pos_options, 'All'), :onchange => 'filterByPosition(this)' %>
  </div>

  <div id="availablePlayersCumulative" style="float:left; margin:20px; width:100%;">
    <div style="text-align:center;">
      <h2 style="margin:50px;">Available players based on cumulative percentile difference</h2>
    </div>
    <table style="text-align:center;">
        <tr>
          <th>Name</th>
          <th>Cumulative % diff</th>
          <% category_order = [ { }, { } ] %>
          <% index = 2 %>
          <% @draft_helper.league.setting_manager.convert_stats_to_hash.each do |type, categories| %>
            <% categories.each do |category| %>
              <% category_order.push({ :player_type => type.to_s, :category => category }) %>
              <th><%= category %></th>
              <% index += 1 %>
            <% end %>
          <% end %>
        </tr>
        
        <% @sorted_players.each_with_index do |player, index| %>
          <% break if index > 300 %>

          <% player[1][:position].nil? ? position = '' : position = player[1][:position] %>
          <tr class="<%= "player " + position %>">
            <td><%= player[1][:name] %></td>
            <td><%= player[1][:value] %></td>
            <% category_order.each_with_index do |data, index| %>
              <% next if index == 0 || index == 1 %>

              <% if player[1][:player_type] == data[:player_type] %>
                <% td_class = nil %>
                <% td_class = "baddest" if player[1][:categories][data[:category]] > -100 %>
                <% td_class = "badder" if player[1][:categories][data[:category]] > -50 %>
                <% td_class = "bad" if player[1][:categories][data[:category]] > -25 %>
                <% td_class = "good" if player[1][:categories][data[:category]] > 0 %>
                <% td_class = "gooder" if player[1][:categories][data[:category]] > 50 %>
                <% td_class = "goodest" if player[1][:categories][data[:category]] > 75 %>
                <td class=<%= td_class %>><%= player[1][:categories][data[:category]] %></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>

          </tr>
        <% end %>
    </table>
  </div>

  <div id="availablePlayersAbsolute" style="float:left; margin:20px; width:100%; display: none;">
    <div style="text-align:center;">
      <h2 style="margin:50px;">Available players based on absolute percentiles</h2>
    </div>
    <table style="text-align:center;">
        <tr>
          <th>Name</th>
          <th>Cumulative % diff</th>
          <% category_order = [ { }, { } ] %>
          <% index = 2 %>
          <% @draft_helper.league.setting_manager.convert_stats_to_hash.each do |type, categories| %>
            <% categories.each do |category| %>
              <% category_order.push({ :player_type => type.to_s, :category => category }) %>
              <th><%= category %></th>
              <% index += 1 %>
            <% end %>
          <% end %>
        </tr>
        
        <% @sorted_players_absolute.each_with_index do |player, index| %>
          <% break if index > 300 %>

          <% player[1][:position].nil? ? position = '' : position = player[1][:position] %>
          <tr class="<%= "player " + position %>">
            <td><%= player[1][:name] %></td>
            <td><%= player[1][:value] %></td>
            <% category_order.each_with_index do |data, index| %>
              <% next if index == 0 || index == 1 %>

              <% if player[1][:player_type] == data[:player_type] %>
                <% td_class = nil %>
                <% td_class = "baddest" if player[1][:categories][data[:category]] > -100 %>
                <% td_class = "badder" if player[1][:categories][data[:category]] > -50 %>
                <% td_class = "bad" if player[1][:categories][data[:category]] > -25 %>
                <% td_class = "good" if player[1][:categories][data[:category]] > 0 %>
                <% td_class = "gooder" if player[1][:categories][data[:category]] > 50 %>
                <% td_class = "goodest" if player[1][:categories][data[:category]] > 75 %>
                <td class=<%= td_class %>><%= player[1][:categories][data[:category]] %></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>

          </tr>
        <% end %>
    </table>
  </div>

  <div id="availablePlayersAbsolutePos" style="float:left; margin:20px; width:100%; display:none;">
    <div style="text-align:center;">
      <h2 style="margin:50px;">Available players based on absolute percentiles with positional adjustments</h2>
    </div>

    <table style="text-align:center;">
        <tr>
          <th>Name</th>
          <th>Cumulative % diff</th>
          <% category_order = [ { }, { } ] %>
          <% index = 2 %>
          <% @draft_helper.league.setting_manager.convert_stats_to_hash.each do |type, categories| %>
            <% categories.each do |category| %>
              <% category_order.push({ :player_type => type.to_s, :category => category }) %>
              <th><%= category %></th>
              <% index += 1 %>
            <% end %>
          <% end %>
        </tr>
        
        <% @sorted_players_pos_adj.each_with_index do |player, index| %>
          <% break if index > 300 %>

          <% player[1][:position].nil? ? position = '' : position = player[1][:position] %>
          <tr class="<%= "player " + position %>">
            <td><%= player[1][:name] %></td>
            <td><%= player[1][:value] %></td>
            <% category_order.each_with_index do |data, index| %>
              <% next if index == 0 || index == 1 %>

              <% if player[1][:player_type] == data[:player_type] %>
                <% td_class = nil %>
                <% td_class = "baddest" if player[1][:categories][data[:category]] > -100 %>
                <% td_class = "badder" if player[1][:categories][data[:category]] > -50 %>
                <% td_class = "bad" if player[1][:categories][data[:category]] > -25 %>
                <% td_class = "good" if player[1][:categories][data[:category]] > 0 %>
                <% td_class = "gooder" if player[1][:categories][data[:category]] > 50 %>
                <% td_class = "goodest" if player[1][:categories][data[:category]] > 75 %>
                <td class=<%= td_class %>><%= player[1][:categories][data[:category]] %></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>

          </tr>
        <% end %>
    </table>
  </div>

  <div id="availablePlayersAbsolutePosSlot" style="float:left; margin:20px; width:100%; display:none;">
    <div style="text-align:center;">
      <h2 style="margin:50px;">Available players based on positional adjustments and slot adjustments</h2>
    </div>

    <table style="text-align:center;">
        <tr>
          <th>Name</th>
          <th>Cumulative % diff</th>
          <% category_order = [ { }, { } ] %>
          <% index = 2 %>
          <% @draft_helper.league.setting_manager.convert_stats_to_hash.each do |type, categories| %>
            <% categories.each do |category| %>
              <% category_order.push({ :player_type => type.to_s, :category => category }) %>
              <th><%= category %></th>
              <% index += 1 %>
            <% end %>
          <% end %>
        </tr>
        
        <% @sorted_players_pos_slot_adj.each_with_index do |player, index| %>
          <% break if index > 300 %>

          <% player[1][:position].nil? ? position = '' : position = player[1][:position] %>
          <tr class="<% "player " + position %>">
            <td><%= player[1][:name] %></td>
            <td><%= player[1][:value] %></td>
            <% category_order.each_with_index do |data, index| %>
              <% next if index == 0 || index == 1 %>

              <% if player[1][:player_type] == data[:player_type] %>
                <% td_class = nil %>
                <% td_class = "baddest" if player[1][:categories][data[:category]] > -100 %>
                <% td_class = "badder" if player[1][:categories][data[:category]] > -50 %>
                <% td_class = "bad" if player[1][:categories][data[:category]] > -25 %>
                <% td_class = "good" if player[1][:categories][data[:category]] > 0 %>
                <% td_class = "gooder" if player[1][:categories][data[:category]] > 50 %>
                <% td_class = "goodest" if player[1][:categories][data[:category]] > 75 %>
                <td class=<%= td_class %>><%= player[1][:categories][data[:category]] %></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>

          </tr>
        <% end %>
    </table>
  </div>

</div>
