<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>


<h1 style="text-align:center; margin:5px 0;">Draft Helper</h1>

<div id="teams" data-params=id=<%= params[:id] if params.has_key?(:id) %>>
  <% static_cell_width = "90px" %>
  <% category_cell_width = "70px" %>

  <div class="team" id="myTeam">
    <div style="text-align:center;">
      <h2 style="margin:10px;">My Team</h2>
    </div>

    <div class="teamTableContainer" style="<%= "margin-top: 20px;" %>">
      <table class="team" id="myTeam" >
        <thead class="team">
          <tr>
            <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;">Slot</td>
            <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">Name</td>
            <% category_order = [ nil, nil ] %>
            <% bat_stats_categories = @draft_helper.setting_manager.convert_stats_to_hash[:bat] %>
            <% bat_stats_categories.each do |category| %>
              <% category_order.push(category) %>
              <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"><%= category %></td>
            <% end %>
          </tr>
        </thead>
        <tbody>
        <% @my_team_players["bat"].each do |slot| %>
          <% if slot[:id].nil? %>
            <% player = nil %>
          <% else %>
            <% player = Player.find(slot[:id]) %>
            <% player_percentiles = @data_manager.initial_percentiles[slot[:id]] %>
            <% player_means = @data_manager.means[slot[:id]] %>
          <% end %>

          <tr class="<%= "team batter team_percentile" %>">
            <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"><%= slot[:position] %></td>
            <% if !player.nil? %>
              <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;"><%= player.name %></td>
              <% category_order.each_with_index do |category, index| %>
                <% next if index == 0 || index == 1 %>

                <% td_class = nil %>
                <% td_class = "baddest" if player_percentiles[category] > -100 %>
                <% td_class = "badder" if player_percentiles[category] > -50 %>
                <% td_class = "bad" if player_percentiles[category] > -25 %>
                <% td_class = "good" if player_percentiles[category] > 0 %>
                <% td_class = "gooder" if player_percentiles[category] > 50 %>
                <% td_class = "goodest" if player_percentiles[category] > 75 %>
                <td class=<%= td_class %> style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"><%= player_percentiles[category].to_s + "%" %></td>
              <% end %>
            <% else %>
              <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;"></td>
              <% category_order.each_with_index do |category, index| %>
                <% next if index == 0 || index == 1 %>
                <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"></td>
              <% end %>
            <% end %>
          </tr>

          <tr class="<%= "team batter team_raw" %>" style="display:none;">
            <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"><%= slot[:position] %></td>
            <% if !player.nil? %>
              <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;"><%= player.name %></td>
              <% category_order.each_with_index do |category, index| %>
                <% next if index == 0 || index == 1 %>

                <% td_class = nil %>
                <% td_class = "baddest" if player_percentiles[category] > -100 %>
                <% td_class = "badder" if player_percentiles[category] > -50 %>
                <% td_class = "bad" if player_percentiles[category] > -25 %>
                <% td_class = "good" if player_percentiles[category] > 0 %>
                <% td_class = "gooder" if player_percentiles[category] > 50 %>
                <% td_class = "goodest" if player_percentiles[category] > 75 %>
                <td class=<%= td_class %> style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"><%= player_means[category] %></td>
              <% end %>
            <% else %>
              <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;"></td>
              <% category_order.each_with_index do |category, index| %>
                <% next if index == 0 || index == 1 %>
                <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>

      <table class="teamTotals" id="myTeamTotals" >

        <tbody>
          <% team_percentiles_bat = @my_team.team_percentiles[:bat] %>
          <tr>
            <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"></td>
            <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">Average:</td>

            <% category_order.each_with_index do |category, index| %>
              <% next if index == 0 || index == 1 %>

              <% if !team_percentiles_bat[category].nil? %>
                <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"> <%= team_percentiles_bat[category][:avg_percentile].round(3) %> </td>
              <% else %>
                <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"></td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"></td>
            <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">Total:</td>
            <% category_order.each_with_index do |category, index| %>
              <% next if index == 0 || index == 1 %>

              <% if !team_percentiles_bat[category].nil? %>
                <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"><%= (team_percentiles_bat[category][:values].reduce(0, :+)).round(3) %></td>
              <% else %>
                <td style="width: <%= category_cell_width %>; min-width: <%= category_cell_width %>;"></td>
              <% end %>
            <% end %>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="team" id="otherTeam">
    <div style="text-align:center;">
      <h2 style="margin:10px;">Other Team</h2>
    </div>

    <div class="teamTableContainer" style="<%= "margin-top: 20px;" %>">
      <table class="team" >
        <thead class="team">
          <tr>
            <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">Name</td>
            <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">Label</td>
          </tr>
        </thead>

        <tr>
          <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">foo</td>
          <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">val</td>
        </tr>

        <tr style="display:none;" class="<%= "player raw " %>">
          <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">foo</td>
          <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">val</td>
        </tr>
      </table>

      <table class="teamTotals" id="myTeamTotals" >
        <tbody>
          <tr>
            <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">Average:</td>
            <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">100%:</td>
          </tr>
          <tr>
            <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">Total:</td>
            <td style="width: <%= static_cell_width %>; min-width: <%= static_cell_width %>;">100%:</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





<div id="availablePlayers" data-params-id=<%= params[:id] if params.has_key?(:id) %>>

  <div style="text-align:center;">
    <h2 style="margin:10px;">Available Players</h2>
  </div>

  <div id="availablePlayersControls" style="float:left; width:100%; text-align:center;">

    <div style="width:100%; margin-bottom:12px;">
      <label style="margin: 0 10px;">Sort by: </label>
      <% options = ['Cumulative percentile difference', 'Absolute percentiles', 'Absolute percentiles with positional adjustment', "Absolute percentiles, positional + remaining slot adjustment"] %>
      <%= select_tag "playersTable", options_for_select(options, 'Cumulative percentile difference'), :onchange => 'changeDisplayedPlayersTable(this)', :style => 'margin-right: 20px;' %>
      <div class="loader" style="visibility: hidden;"></div>
    </div>


    <div style="width:100%">
      <label style="margin-right:5px;">Show percentiles</label>
      <%= radio_button_tag(:stats_type, 'percentile', true, { :onchange => 'changeStatsType(this)' }) %>
      <label style="margin-left:20px; margin-right:5px;">Show raw stats</label>
      <%= radio_button_tag(:stats_type, 'raw', false, { :onchange => 'changeStatsType(this)' }) %>

      <label style="margin-left: 40px;">Position</label>
      <% pos_options = ['All'] + @draft_helper.data_manager.batter_slots.keys + @draft_helper.data_manager.pitcher_slots.keys %>
      <%= select_tag 'position', options_for_select(pos_options, 'All'), :onchange => 'filterByPosition(this)' %>
    </div>
  </div>

  <% @is_first_table = true %>
  <%= render 'player_table' %>
  <% @is_first_table = false %>
</div>
