<!DOCTYPE html>
<html>
<head>
  <title>Baseball-on-Draft</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
    <% if user_signed_in? %>
      <div style="text-align:right;">
        <strong><%= current_user.email %></strong>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      </div>
      <hr>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <hr>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  <%= yield %>
</body>

<div class="footer">
  connor.j.mccann<%=fa_icon 'at'%>gmail | 
  <a href="https://github.com/cjmccann/Baseball-on-Draft">See on Github</a> |
  Glen Arbor Productions  <%= fa_icon "tree" %>
</div>
</html>
